body { 
    background: url(./kiss_bc.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.card-body h5 {
    margin: 0;
}